.movies-selection {
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 800vh;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px darkgray;

}